.container.chart-container
  div.chart-content(xscroll resize msd-wheel='xZooming($event, $delta, $deltaX, $deltaY)')
    svg.ohclbars(ng-mousemove='drawCrosshair($event)')
      path.crosshair(ng-attr-d='{{crosshair}}')
      path.ohcl(ng-repeat='ohcl in ohcls | viewfilter:startXIndex:viewLen' ng-attr-d='{{ohcl.d}}')
div.yruler
      ul
        li(ng-repeat='xr in xruler')
          div {{xr}}
