.panel.panel-primary
  .panel-heading.text-center Featured Items
  .panel-body
    .row(ng-repeat="item in items | filter:{featured:true}")
      .col-md-12 {{item.name}}
        //a(href="/courses/{{course._id}}") {{course.title}}
